---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://www.apple.com/jp/app-store/';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://play.google.com/store/games?hl=ja-JP';

const metadata = {
  title: 'Mobile App Homepage',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Service', href: '#' },
        { text: 'Feature', href: '#' },
        { text: 'Introduction', href: '#' },
      ]}
      actions={[
        {
          text: 'ダウンロード',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="モバイルアプリWebデモ"
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'AstroWind ヒーロー画像',
    }}
  >
    <Fragment slot="title">
      可能性を広げる<br />
      <span class="text-accent dark:text-white highlight">AstroWind</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline"> あなたの指先で無限の創造性を解き放つ：革新的なデザインへの入口。 </span>
      今すぐダウンロードして、かつてないほどのプロジェクトへと旅立ちましょう。
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store 画像" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play 画像" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="アプリの使い方"
    subtitle="一からドキュメントを作成するのに何時間もかかっていませんか？当社のアプリは革新的な解決策を提供します。プロフェッショナルにデザインされたテンプレートの幅広い選択肢で、数分で魅力的なドキュメントを作成できます。今すぐテンプレートを探索して、違いを体験してください。"
    tagline="ステップバイステップガイド"
    columns={2}
    items={[
      {
        title: 'アプリをダウンロードしてインストールする',
        description: `デバイスのアプリストアまたは公式ウェブサイトからユーザーフレンドリーなアプリをダウンロードして、あなたの旅を始めましょう。`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'サインアップ',
        description: '必要な情報を提供してアカウントを作成し、全ての機能にアクセスできるようにします。',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'テンプレートを閲覧する',
        description:
          '簡単なナビゲーションのためにカテゴリ分けされたウェブサイトテンプレートの多様なコレクションを探索します。',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'テンプレートをプレビューして選択する',
        description: `プレビューを通じて各テンプレートの可能性を視覚化し、プロジェクトのニーズに最も合ったものを選択します。`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'カラフルな画像',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'ユーザーフレンドリーなインターフェース',
        description: 'ユーザーがテンプレートを素早く閲覧して見つけることができる直感的で使いやすいインターフェース。',
        icon: 'tabler:wand',
      },
      {
        title: 'パーソナライゼーションオプション',
        description:
          'テンプレート内のテキスト、色、画像、その他の要素を変更できる基本的なカスタマイズツールを含みます。',
        icon: 'tabler:settings',
      },
      {
        title: '使用準備完了のコンポーネント',
        description:
          'グラフィック、アイコン、レイアウトなどの使用準備完了の要素でデザインを強化し、時間を節約し、視覚的魅力を高めます。',
        icon: 'tabler:template',
      },
      {
        title: 'プレビューモード',
        description: '各テンプレートのプレビューを提供し、購入前にどのように見えるかをユーザーに確認させます。',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'カラフルな画像',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">主な特徴</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'オフラインアクセス',
        description: 'ユーザーが購入したテンプレートをオフラインで使用できるようにするオプションを提供します。',
        icon: 'tabler:wifi-off',
      },
      {
        title: 'セキュアクラウドストレージ',
        description:
          '購入したテンプレートのクラウドストレージを提供し、ユーザーがどこからでも安全にテンプレートにアクセスしてバックアップできるようにします。',
        icon: 'tabler:file-download',
      },
      {
        title: '定期的な更新',
        description: '新しいテンプレートと機能を継続的に追加し、アプリを新鮮で魅力的に保ちます。',
        icon: 'tabler:refresh',
      },
      {
        title: 'ウィッシュリスト',
        description: `ユーザーが興味のあるテンプレートのウィッシュリストを作成できるようにし、後で再訪して購入することが容易になります。`,
        icon: 'tabler:heart',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'ヴィンテージ画像',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">その他の特徴</h3>
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <Stats
    title="アプリの統計"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="ユーザーの声"
    testimonials={[
      {
        testimonial: `ウェブサイトのテンプレートを探索してダウンロードするのがとても簡単になりました。インターフェースは直感的で、プロジェクトに完璧なテンプレートを見つけるのに全く問題ありませんでした。これはユーザーを真に力づけるアプリです。`,
        name: 'Cary Kennedy',
        job: '映画監督',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy 画像',
        },
      },
      {
        testimonial: `アプリのシームレスなダウンロードプロセスと直感的なレイアウトにより、テンプレートの選択が楽しい経験になりました。異なるデザインをプレビューして試すことができるため、時間を節約し、ウェブサイトに完璧なルックを確保できました。`,
        name: 'Josh Wilkinson',
        job: 'プロダクトマネージャー',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson 画像',
        },
      },
      {
        testimonial:
          '数分でプロフェッショナルなウェブサイトテンプレートをダウンロードして使用できました。ステップバイステップのプロセスとユーザーフレンドリーなインターフェースにより、プロがデザインしたようなウェブサイトを簡単に作成できました。',
        name: 'Sidney Hansen',
        job: 'デコレーター',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWペfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen 画像',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'さらにユーザーの声を読む',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="まだ疑問がありますか？"
    items={[
      {
        title: 'このアプリは何をしますか？',
        description:
          'このアプリは、プロジェクト用の幅広いウェブサイトテンプレートを簡単に閲覧、購入、ダウンロード、使用できるプラットフォームを提供します。',
      },
      {
        title: 'このアプリはどのように問題を解決しますか？',
        description:
          'このアプリは、プロフェッショナルなウェブサイトデザインを見つけて実装するプロセスを合理化し、視覚的に魅力的で機能的なウェブサイトを作成するための時間と労力を節約します。',
      },
      {
        title: '私のデバイスで利用できますか？',
        description: `当社のアプリは、スマートフォン、タブレット、コンピューターを含むさまざまなデバイスやプラットフォームでの互換性を確保するように設計されています。`,
      },
      {
        title: 'このアプリは他のアプリと何が違いますか？',
        description:
          '当社のアプリは、ユーザーフレンドリーなインターフェース、広範なテンプレートコレクション、購入とダウンロードプロセスのシームレスな統合により、高い効率性を実現しています。',
      },
      {
        title: '費用はかかりますか？',
        description:
          'アプリ自体は無料でダウンロードできる場合がありますが、特定のテンプレートの購入には、あなたの好みやプロジェクトの要件に基づいて費用がかかる場合があります。',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="今すぐアプリをダウンロード！"
    subtitle="さまざまな魅力的なテンプレートにアクセスし、創造的なプロセスを簡素化し、オンラインプレゼンスを向上させましょう。"
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store 画像" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play 画像" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
